/**
 * E金券列表
 */
 body{ background:#f4f4f4;}
 ul{ margin:0; padding:0; list-style:none;}
 h1,h2,h3,h4,h5,h6{ padding:0; margin:0;}


.color_orange{ color:#f60!important;}
.notopborder{ border-top:0 none!important;}
.elist{ margin-top:20px; background:#fff;}
.elist_hd{ height:74px; background:#ed4c4c url(../images/2.jpg) repeat-x; position:relative;}
.elist_hd .elist_hd_tit{ padding-left:122px; background:url(../images/1.jpg) no-repeat; font-size:2.5em;line-height:74px; color:#fff; }

.elist2_hd{ height:74px; background:#fb880d url(../images/9.gif) repeat-x; position:relative;}
.elist2_hd .elist_hd_tit{ padding-left:136px; background:url(../images/10.gif) no-repeat; font-size:2.5em;line-height:74px; color:#fff; }
.elist2_hd .elist_hd_tit span{font-size:26px; /*font-size:26px; 26÷16*/ padding-left:24px;}

.elist_used,
.elist_unused{ width:115px; height:74px; position:absolute; right:0; bottom:0;}
.elist_used{ background:url(../images/3.jpg) no-repeat;}
.elist_unused{ background:url(../images/4.jpg) no-repeat;}
.elist_bd{ 
 	border-left:1px solid #e0e0e0; 
  	border-right:1px solid #e0e0e0; 
	border-bottom:1px solid #e0e0e0;  
 	border-bottom-right-radius:24px;
	border-bottom-left-radius:24px; 
	box-shadow:0px 1px 6px #999;
	overflow:hidden; 
}

.elist_btn_detail{ display:block; text-align:center; border-top:1px solid #e0e0e0; border-bottom-right-radius:24px;
border-bottom-left-radius:24px; }

.elist_bd_tit{ font-size:1.5em; /*font-size:24px; 24÷16*/color:#666; padding:25px 0 10px 20px; margin:0;}
.elist_bd_ls{ font-size:1.625em; /*font-size:26px; 26÷16*/ line-height:40px; list-style:none; padding:0 0 20px 20px; margin:0;}
.elist_bd_ls li{ padding-left:40px; background-position:0 50%; background-repeat:no-repeat;}
.elist_no1{ background-image:url(../images/no1.png);}
.elist_no2{ background-image:url(../images/no2.png);}
.elist_no3{ background-image:url(../images/no3.png);}
.elist_no4{ background-image:url(../images/no4.png);}
.elist_btn_detail{height:80px; line-height:80px; font-size:2em; /*font-size:32px; 32÷16*/ text-decoration:none; color:#000; position:relative;
    background: #fff9ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fff9ea 0%, #fff5db 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff9ea), color-stop(100%,#fff5db)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fff9ea 0%,#fff5db 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fff9ea 0%,#fff5db 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fff9ea 0%,#fff5db 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fff9ea 0%,#fff5db 100%); /* W3C */
}
.elist_btn_detail i{ 
	width:16px; height:26px; 
	position:absolute; right:22px; top:25px; 
 	background:url(../images/5.png) no-repeat;  	
  	border-bottom-right-radius:1.5em;
	border-bottom-left-radius:1.5em; 	
 }
 /**
 * E金券详情
 */
.elist2{ background:#fff;}
.elist_txt_hd01{ padding:18px 0 18px 20px; font-size:1.5em; /*font-size:24px; 24÷16*/  color:#666; }
.elist_status{ padding-left:20px; height:82px; line-height:82px; font-size:1.75em; /*font-size:28px; 28÷16*/ }
.elist_status label{ color:#666;}
.elist_status span{ color:#dd4444;}
.elist_info{font-size:1.5em; /*font-size:24px; 24÷16*/ padding:12px 0 12px 20px;}
.elist_info li label{ color:#666;}
.elist_info li{ color:#333; line-height:44px;}
.elist_code{ text-align:center; border-top:1px solid #ebebeb;}
.elist_code strong{ padding:40px 0 18px 0; font-size:2.125em; /*font-size:34px; 34÷16*/ color:#666; display:block;}
.elist_txt_hd02{ text-align:center;}
.elist_txt_hd02 .elist_p1{ font-size:2em; /*font-size:32px; 32÷16*/ padding:40px 0 4px 0; margin:0; color:#333;}
.elist_txt_hd02 .elist_p2{font-size:1.5em; /*font-size:24px; 24÷16*/ padding:4px 0 36px 0; margin:0; color:#666;}



/*  超级E金券管理 */
.f_orange{color: #ff6600;}
.f_dgrey{color: #666;}
.f_grey{color: #999999;}
.f_orange{color: #ff6600;}
.mr20{margin-right: 20px;}
.tc{text-align: center;}

.ticket_list{background:#fff; border: 1px solid #b9b9b9; border-radius:10px; padding: 20px 0px; margin: 20px; float: left; width: 96%;}
.ticket_list ul li a{height: 40px; line-height: 40px; border-bottom: 1px solid #ebebeb; padding: 0px 40px; display: block; float: left; width: 100%; cursor: pointer;}

/*  商家列表 */
.mechant_list{width: 100%; float: left;}
.mechant_list .cell{width: 100%; height: 130px; border-bottom: 1px solid #e7e6e6; padding: 20px 20px 0px 20px;}
.mechant_list .cell dt,.mechant_list .cell dd{float: left; word-wrap: break-word; word-break: normal; }
.mechant_list .cell dt{width: 106px; overflow: hidden;}

/*  超级E金券购买 */
.purchsae{ padding: 20px 0px; margin: 20px; float: left; width: 96%;}
.purchsae h1{color: #ff6600; text-align: center; margin: 20px 0px; display: block;}
.form{background:#fff; border: 1px solid #b9b9b9; border-radius:10px;}
.form .row{padding:10px; border-bottom: 1px solid #e7e6e6; height: 28px;}
.form .row label{color: #666; margin-right: 15px; float: left;}
.form .row input{border:none; width: 50%; float: left;}
.form .row input.num{border:none; width: 100px; float: left;}
.form .row .reduce{background: url(../images/bg_select_disable.png) no-repeat; width: 20px; height: 20px; line-height: 20px; color: #fff; text-align: center; display: block; float: left; cursor: pointer;}
.form .row .add{background: url(../images/bg_select_enable.png) no-repeat; width: 20px; height: 20px; line-height: 20px; color: #fff; text-align: center; display: block; float: left; cursor: pointer;}

.purchsae h2{color: #999999; text-align: left; margin: 20px 0px; display: block;}
.purchsae h3{color: #999999; text-align: left; margin: 20px 0px; display: block;}

.unionpay{padding: 10px;}
.unionpay a{cursor: pointer; vertical-align: middle;}

.btn_securityCode{background: #efefef; border-radius: 15px; border:1px solid #b0b0b0; display: block; width: 160px; height: 38px; float: right; color: #3286b2; text-align: center; line-height: 38px; font-weight: bold; cursor: pointer;}
.btn_purchase{
  width: 80%;
  height: 38px;
  line-height: 38px;
background: #222 url(http://zurb.com/blog_uploads/0000/0617/alert-overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
/*position: relative;*/
cursor: pointer;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
background-color: #e76a67;
padding: 8px 14px 9px;
border-radius: 15px;
text-align: center;
margin: 15px 0px;
}
.btn_step{
  width: 80%;
  height: 38px;
  line-height: 38px;
background: #222 url(http://zurb.com/blog_uploads/0000/0617/alert-overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #fff;
text-decoration: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
/*position: relative;*/
cursor: pointer;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
background-color: #79d7c2;
padding: 8px 14px 9px;
border-radius: 15px;
text-align: center;
margin: 15px 0px;
text-shadow:1px 1px 1px #333333;
}



/*  商家折扣券申请流程 */
.mechant_ticket{padding: 20px 0px; margin: 20px; float: left; width: 96%;}
.mechant_ticket h1{background: url(../images/icon_info_blue.png) no-repeat; display: block; color: #666; padding-left: 45px; margin: 15px;}
